In [ ]:
import pandas as pd
import os
import numpy as np

folder_path = "Data Pemain"
csv_files = [file for file in os.listdir(folder_path) if file.endswith(".csv")]

for file in csv_files:
    file_path = os.path.join(folder_path, file)
    print(file)
    data = pd.read_csv(file_path)

    kolom_diisi_nol = ['Penyelamatan', 'Gol', 'Tembakan', 
                       'Tembakan Tepat Sasaran', 'Assist', 'Tekel', 
                       'Intersepsi', 'Sapuan', 'Kartu Kuning', 
                       'Kartu Merah', 'Pelanggaran', 'Offside']

    kolom_umpan = "Umpan Sukses"
    mask = data['Penampilan'] == 0
    data.loc[mask, kolom_diisi_nol] = 0
    data.loc[mask, kolom_umpan] = "0/0"

    nama_file = file.replace('_', ' ')
    nama_file = nama_file.replace('-PEMAIN.csv', "")
    nama_file = nama_file.title()

    data[['Umpan Biasa', 'Umpan Total']] = data['Umpan Sukses'].str.split('/', expand=True)
    data['Umpan Sukses'] = data['Umpan Biasa']
    data = data.drop(columns=['Umpan Biasa'])

    data['Umpan Sukses'] = data['Umpan Sukses'].astype(float)
    data['Umpan Total'] = data['Umpan Total'].astype(float)
    data['Akurasi Passing'] = np.where(
        data['Umpan Total'] == 0,
        0,
        data['Umpan Sukses'] / data['Umpan Total']
    )

    data['Akurasi Tembakan'] = np.where(
        data['Tembakan'] == 0,
        0,
        data['Tembakan Tepat Sasaran'] / data['Tembakan']
    )

    data.to_csv(f'Data Bersih/{nama_file}.csv', index=False)

AREMA_FC-PEMAIN.csv
BALI_UNITED_FC-PEMAIN.csv
BORNEO_FC_SAMARINDA-PEMAIN.csv
DEWA_UNITED_FC-PEMAIN.csv
MADURA_UNITED_FC-PEMAIN.csv
MALUT_UNITED_FC-PEMAIN.csv
PERSEBAYA_SURABAYA-PEMAIN.csv
PERSIB_BANDUNG-PEMAIN.csv
PERSIJA_JAKARTA-PEMAIN.csv
PERSIK_KEDIRI-PEMAIN.csv
PERSIS_SOLO-PEMAIN.csv
PERSITA-PEMAIN.csv
PS_BARITO_PUTERA-PEMAIN.csv
PSBS_BIAK-PEMAIN.csv
PSIS_SEMARANG-PEMAIN.csv
PSM_MAKASSAR-PEMAIN.csv
PSS_SLEMAN_-PEMAIN.csv
SEMEN_PADANG_FC-PEMAIN.csv

In [4]:
data = pd.read_csv('Data Bersih/Arema fc.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Nama Punggung           30 non-null     object
 1   Nomor Punggung          30 non-null     int64
 2   Nama Lengkap            30 non-null     object
 3   Klub                    30 non-null     object
 4   Posisi                  30 non-null     object
 5   Usia                    30 non-null     int64
 6   Negara                  30 non-null     object
 7   Penampilan              30 non-null     int64
 8   Penyelamatan            30 non-null     float64
 9   Gol                     30 non-null     int64
 10  Tembakan                30 non-null     float64
 11  Tembakan Tepat Sasaran  30 non-null     float64
 12  Assist                  30 non-null     float64
 13  Umpan Sukses            30 non-null     float64
 14  Tekel                   30 non-null     float64
 15  Intersepsi              30 non-null     float64
 16  Sapuan                  30 non-null     float64
 17  Kartu Kuning            30 non-null     int64
 18  Kartu Merah             30 non-null     int64
 19  Pelanggaran             30 non-null     float64
 20  Offside                 30 non-null     float64
 21  Umpan Total             30 non-null     float64
 22  Akurasi Passing         30 non-null     float64
 23  Akurasi Tembakan        30 non-null     float64
dtypes: float64(13), int64(6), object(5)
memory usage: 5.8+ KB

In [6]:
data[data['Akurasi Tembakan'] == 0]

,Nama Punggung,Nomor Punggung,Nama Lengkap,Klub,Posisi,Usia,Negara,Penampilan,Penyelamatan,Gol,...,Tekel,Intersepsi,Sapuan,Kartu Kuning,Kartu Merah,Pelanggaran,Offside,Umpan Total,Akurasi Passing,Akurasi Tembakan
0,BAYU AJI,3,BAYU AJI,AREMA FC,BELAKANG,25,Indonesia,4,0.0,0,...,4.0,8.0,9.0,2,0,5.0,0.0,76.0,0.907895,0.0
1,SYAEFUL A.,4,SYAEFUL ANWAR,AREMA FC,BELAKANG,31,Indonesia,5,0.0,0,...,4.0,11.0,8.0,0,0,3.0,0.0,108.0,0.916667,0.0
9,BALINSA,13,SAMUEL GIDEON BALINSA,AREMA FC,TENGAH,26,Indonesia,24,0.0,0,...,20.0,34.0,2.0,3,0,15.0,0.0,341.0,0.850440,0.0
10,DAFFA,16,Daffa Fahish Nandriyanto,AREMA FC,BELAKANG,21,Indonesia,0,0.0,0,...,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.000000,0.0
11,ASWIN,17,ASWIN,AREMA FC,TENGAH,22,Indonesia,0,0.0,0,...,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.000000,0.0
12,SCHEUNEMANN,20,BRANDON MARSEL SCHEUNEMANN,PSIS SEMARANG,BELAKANG,20,Indonesia,3,0.0,0,...,0.0,0.0,0.0,0,0,0.0,0.0,4.0,1.000000,0.0
14,BO-KYUNG CHOI,20,CHOI BOKYUN,AREMA FC,BELAKANG,37,Korea Republic,17,0.0,0,...,12.0,44.0,15.0,2,0,6.0,0.0,506.0,0.930830,0.0
15,SOARES,21,FLABIOLA SOARES,AREMA FC,DEPAN,26,Indonesia,1,0.0,0,...,0.0,0.0,0.0,0,0,0.0,0.0,8.0,0.750000,0.0
16,DICKY A.S,22,DICKI AGUNG SETIAWAN,AREMA FC,P. GAWANG,27,Indonesia,2,5.0,0,...,0.0,0.0,1.0,0,0,1.0,0.0,16.0,0.375000,0.0
21,L. FRIGERI,31,LUCAS HENRIQUE FRIGERI,AREMA FC,P. GAWANG,36,Brazil,33,88.0,0,...,1.0,6.0,8.0,3,0,0.0,0.0,731.0,0.759234,0.0
24,SHULTON,67,MOCHAMAD SHULTON FAJAR,AREMA FC,TENGAH,31,Indonesia,7,0.0,0,...,7.0,24.0,4.0,2,0,15.0,0.0,189.0,0.925926,0.0
28,A. CASVARI,95,ANDRIAN CASVARI,AREMA FC,P. GAWANG,26,Indonesia,0,0.0,0,...,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.000000,0.0